*{
    margin:0px;
    padding: 0px;
}

body{
    background-color:brown;
}

.container{
    width: 100rem;
    height: 4rem;
    display: flex;
    background-color: rgb(14, 71, 62);
}

.smalldiv1{

    width: 15rem;
    height: 2rem;
    background-color:blanchedalmond;  
    margin: 12px ;
    padding: 4px;
    margin-left: 3rem;
}

.smalldiv2{
    width:5rem;
    height:2rem;
    background-color: blanchedalmond;   
    margin: 12px;
    padding: 4px;
    margin-left: 4rem;
}

.div1{
    background-color: rgb(63, 86, 16);
    width: 2rem;
    height:1rem;
    margin: 0.25rem;
    padding: 3px;
    justify-content: space-between;
    margin-left: 1rem;
    float: left;

}

.div2{
    background-color: blueviolet;
    width: 2rem;
    height:1rem;
    margin: 0.25rem;
    padding: 3px;
    justify-content: space-between;
    margin-left: 1rem;
    float: left;
}

.div3{
    background-color: rgb(21, 98, 72);
    width: 2rem;
    height:1rem;
    margin: 0.25rem;
    padding: 3px;
    justify-content: space-between;
    margin-left: 1rem;
    float: left;
}

.div4{
    background-color: rgb(113, 68, 13);
    width: 2rem;
    height:1rem;
    margin: 0.25rem;
    padding: 3px;
    justify-content: space-between;
    margin-left: 1rem;
    float: left;
}
.fa{
    width: 1rem;
    margin-top: 0.50rem;
    margin-left: 1rem;
}